#System
.DS_Store
Thumbs.db

#env, config
.env
.env.*.local
config.php
.htaccess

#npm, composer
/vendor/
node_modules/

#VSCode
.vscode/
*.code-workspace

#temp, sql, cache, log
*.temp
*.tmp
.phpunit.result.cache
*.sql
*.sqlite
*.sqlite3
*.log

#media, uploads
uploads
media/chat_images

#rendered
output.css