/* input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dmsans";
  src: url("/assets/fonts/DMSans-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* datatables */
table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
  text-align: center !important;
}

.dt-container,
.dt-paging-button.disabled,
.dt-info,
.dt-paging,
.dt-paging-button {
  color: white !important;
}

.progress-bar {
  height: 0;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
}


.progress-bar.active {
  height: 4px;
  opacity: 1;

}
