/* input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dmsans";
  src: url("/assets/fonts/DMSans-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* datatables */
table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
  text-align: center !important;
}

.dt-container,
.dt-paging-button.disabled,
.dt-info,
.dt-paging,
.dt-paging-button {
  color: white !important;
}

.progress-bar {
  height: 0;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.progress-bar.active {
  height: 4px;
  opacity: 1;
}

.hide-scrollbar {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Edge */
}

.scroll-container {
  position: relative;
  overflow-y: scroll; /* Przewijanie w pionie */
  padding: 16px; /* Opcjonalne wcięcie */
}

.scroll-container .song-item {
  /* Elementy z efektem powiększania */
  will-change: transform; /* Optymalizacja */
  transition: transform 0.3s ease; /* Płynne powiększenie */
}

.scroll-container::before,
.scroll-container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 20px; /* Rozmiar maski */
  z-index: 10;
  pointer-events: none; /* Przewijanie nadal działa */
}
